<div class="link read-<%= link.read %>" >
  
  <% if link.number_one? %>
    Smokin Top Link!</br>
  <% elsif link.in_top_ten? %>
    Smokin Hot Link!</br>
  <% end %>

<div id="mark-button" data-id=<%= link.id %> >
<div id="link-title"><strong><%= link.title %></strong></div>
<div id="link-url"><%= link_to "#{link.url}", link.url, id: "link-clicker" %></div>
  
  <%= link_to "Edit", edit_link_path(link.id) %>
</br>

<% if link.read %>
  <button class="mark-unread" id="button-<%= link.id %>">Mark Unread</button>
<% else %>
  <button class="mark-read" id="button-<%= link.id %>">Mark Read</button>
<% end %>

  </div>
</div>
</br></br>
